@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url(//db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=BrandonGrotW01-Light);
@import url("https://fonts.googleapis.com/css?family=Cinzel:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
.navbar {
  padding: 1rem;
  font-size: 22px;
  background-color: black;
  border-bottom: 1px solid #AF9453;
  padding-bottom: 2rem;
}

.navbar .navbar-nav li {
  padding-left: 2rem;
}

.navbar .navbar-nav .nav-item a {
  color: #AF9453 !important;
}

.navbar .navbar-nav .nav-item a:hover {
  color: #333333 !important;
}

.nav-link .active {
  color: #333333 !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    display: none;
    background: red;
  }
}

.navbar-brand img {
  width: 80%;
}

body {
  background-color: black;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-info {
  width: 130px;
  border-radius: 0;
  color: white !important;
  color: #AF9453;
  background-color: #AF9453;
  border-color: white;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: #AF9453;
  background-color: #8d7742;
  border-color: #e0e0e0;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  background-image: none;
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #AF9453;
  border-color: white;
}

.btn-info .badge {
  color: #AF9453;
  background-color: #AF9453;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.masthead {
  margin-top: 1px;
  height: 100vh;
  min-height: 500px;
  max-height: 900px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/mastheader.png");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/mastheader.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.masthead h1 {
  font-family: 'Cinzel', serif;
  color: #DEC33C;
  font-weight: bold;
  font-size: 61px;
  letter-spacing: 0.35em;
}

.masthead .fa-arrow-down {
  color: white;
}

.masthead p {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: white;
  font-size: 27px;
}

.masthead button {
  margin-top: 10rem;
}

.darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .masthead {
    background-attachment: scroll;
    background-size: auto;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .masthead h1 {
    font-size: 30px;
    margin-bottom: 2rem;
    display: block;
  }
  .masthead p {
    font-size: 20px;
  }
  .masthead button {
    margin-top: 1rem;
  }
  .masthead .text {
    margin-top: 8rem;
  }
}

.services {
  background: black;
  color: #E4D9BC !important;
}

.services #servicesH1 {
  font-size: 54px;
  color: #AF9453 !important;
  text-align: center;
  padding: 1rem;
}

.services .learn-more {
  margin-top: 1rem;
  text-align: center;
}

.services .bar-right-service {
  border-right: 1px solid #E4D9BC;
}

.services .bar-left-service {
  border-left: 1px solid #E4D9BC;
}

.testimonial {
  margin-top: 3rem;
}

.testimonial img {
  width: 100%;
  height: 100%;
}

.testimonial .quote {
  padding: 2rem;
  background-color: #af9453;
}

.testimonial .quote .vertical {
  margin-top: 30%;
}

.testimonial .quote p {
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 33px;
}

.testimonial .quote span {
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 21px;
  font-family: 'BrandonGrotW01-Light', serif;
}

.logo {
  margin-top: 5rem;
  text-align: center;
}

.offers {
  text-align: center;
  margin-top: 5rem;
  color: #E4D9BC !important;
  margin-bottom: 10rem;
}

.offers h1 {
  margin-bottom: 2rem;
}

.offers .bar-right-offers {
  border-right: 1px solid #E4D9BC;
}

.offers .bar-left-offers {
  border-left: 1px solid #E4D9BC;
}

.bar-right {
  border-right: 1px solid #E4D9BC;
}

.bar-left {
  border-left: 1px solid #E4D9BC;
}

@media (max-width: 576px) {
  .services .bar-right-service,
  .services .bar-left-service {
    border: none;
  }
  .services .learn-more {
    margin: 0px;
  }
}

@media (max-width: 990px) {
  .offers .bar-right-offers,
  .offers .bar-left-offers {
    border: none;
  }
}

@media (max-width: 1025px) {
  .vertical {
    margin-top: 0px;
    margin-bottom: 30%;
  }
}

footer {
  background-color: #af9453;
  color: white;
}

footer .bar-right {
  border-right: 1px solid white;
}

footer .bar-left {
  border-left: 1px solid white;
}

footer a {
  color: white !important;
}

.our-packages {
  color: #E4D9BC;
}

.our-packages p {
  font-family: 'BrandonGrotW01-Light', serif;
}

.our-packages i {
  margin-top: 3rem;
}

.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #E4D9BC;
}

.masthead-packages {
  height: 100vh;
  min-height: 500px;
  max-height: 500px;
  background-image: url("/images/packages.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.packages {
  color: #E4D9BC;
}

.packages h1 {
  font-size: 61px;
  padding-bottom: 1rem;
}

.packages li {
  font-family: 'BrandonGrotW01-Light', serif;
  font-size: 25px;
}

.packages .lead {
  font-family: 'BrandonGrotW01-Light', serif;
}

.packages button {
  margin-left: 10rem;
}

.packages .row {
  margin: 4rem;
}

@media (max-width: 768px) {
  .packages button {
    margin-top: 3rem;
    margin-left: 0;
  }
}

.about {
  color: #AF9453 !important;
  margin-bottom: 10rem;
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.about img {
  width: 100%;
  height: 100%;
}

.about h1 {
  font-size: 61px;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

.about p {
  font-family: 'BrandonGrotW01-Light', serif;
}

.about .about-col {
  padding: 4rem;
}

.contact {
  width: 900px;
  margin: 0 auto;
  color: #AF9453;
  padding: 3rem;
}

.contact h2 {
  padding: 3rem;
}

.contact button {
  margin: 1rem;
}

.contact span {
  color: #373b4d !important;
}

@media (max-width: 900px) {
  .contact {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */