
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url(//db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=BrandonGrotW01-Light);


body {
    background-color: $backgroundColor;
    font-family: 'EB Garamond', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


$mynewcolor: #AF9453;

.btn-info {
    width: 130px;
    border-radius: 0;
    color: white !important;
    @include button-variant(white, $mynewcolor, white);

}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}