

$backgroundColor : black;

$primaryColor : #AF9453;
$secondaryColor:#E4D9BC;
$hoverColor: #333333;



$navbarHeight: 150px;




//Media Queries
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$xLargeWidth: 1200px;