

$backgroundColor : black;

$primaryColor : white;
$secondaryColor: yellow;


$navbarHeight: 150px;




//Media Queries
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$xLargeWidth: 1200px;