.services {
    background: black;
    color: $secondaryColor !important;

    #servicesH1 {
        font-size: 54px;
        color: $primaryColor !important;
        text-align: center;
        padding: 1rem;
    }

    .learn-more {
        margin-top: 1rem;
        text-align: center;
    }

    .bar-right-service {
        border-right: 1px solid $secondaryColor;
    }

    .bar-left-service {
        border-left: 1px solid $secondaryColor;
    }
}

.testimonial {
    border-top: 2px solid $secondaryColor;
    border-bottom: 2px solid $secondaryColor;
    margin-top: 3rem;

    img {
        width: 100%;
        height: 100%;
    }

    .quote {
        .vertical {
            margin-top: 30%;
        }

        padding: 2rem;
        background-color: rgb(175, 148, 83);

        p {
            color: white;
            font-family: 'EB Garamond', serif;
            font-size: 33px;
        }

        span {
            padding: 2rem;
            text-align: center;
            color: white;
            font-size: 21px;
            font-family: 'BrandonGrotW01-Light', serif;
        }

    }


}

.logo {
    margin-top: 5rem;
    text-align: center;
}

.offers {
    text-align: center;
    margin-top: 5rem;
    color: $secondaryColor !important;
    margin-bottom: 10rem;

    h1 {
        margin-bottom: 2rem;
    }

    .bar-right-offers {
        border-right: 1px solid $secondaryColor;
    }

    .bar-left-offers {
        border-left: 1px solid $secondaryColor;
    }

}

.bar-right {
    border-right: 1px solid $secondaryColor;
}

.bar-left {
    border-left: 1px solid $secondaryColor;
}

.make-it-flex {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: $smallWidth) {

    .services {

        .bar-right-service,
        .bar-left-service {
            border: none;
        }

        .learn-more {
            margin: 0px;
        }

        #servicesH1 {
            font-size: 40px;
        }
    }


}



@media (max-width: $mediumWidth) {

    .offers {

        .bar-right-offers,
        .bar-left-offers {
            border: none;
        }
    }


}

@media (max-width: 1025px) {

    .vertical {
        margin-top: 0px;
        margin-bottom: 30%;
    }

}

@media (min-width: $mediumWidth) {
    .make-it-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-item-1 {
        order: 1;
    }

    .flex-item-2 {
        order: 2;
    }

    .flex-item-3 {
        order: 3;
    }

    .flex-item-4 {
        order: 4;
    }

    .flex-item-5 {
        order: 5;
    }

    .flex-item-6 {
        order: 6;
    }
}