
footer {
    padding: 4rem;
    background-color: rgb(175, 148, 83);
    color: white;

    .bar-right {
        border-right: 1px solid white;
    }

    .bar-left {
        border-left: 1px solid white;
    }
}
