@import url('https://fonts.googleapis.com/css?family=Cinzel:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


.masthead {
    margin-top: 1px;
    height: 100vh;
    min-height: 500px;
    max-height: 900px;
    background-image: url('/images/mastheader.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    h1 {
        font-family: 'Cinzel', serif;
        color: #DEC33C;
        font-weight: bold;
        font-size: 61px;
        letter-spacing: 0.35em;
    }

    .fa-arrow-down {
        color: white;
    }

     p {
        font-family: 'Playfair Display', serif;
         font-weight: bold;
         color: white;
         font-size: 27px;
     }
     button {
         margin-top: 10rem;
     }
  }