
.navbar {
    padding: 1rem;
    font-size: 22px;
    background-color: $backgroundColor;
    border-bottom: 1px solid $primaryColor;
    padding-bottom: 2rem;
    .navbar-nav {

        li {
            padding-left: 2rem;
        }

        .nav-item {

            a {
               
                color: $primaryColor !important;
            }

            a:hover {
                color: $hoverColor !important;
            }

        
        }

    }
}

.nav-link {

    .active {
        color: $hoverColor !important;
    }
}

@media (max-width: $mediumWidth) {

   .navbar-brand {
       display: none;
       background: red;
   }
  }

.navbar-brand {
    img {
      width: 80%;
    }
}

