
.navbar {
    padding: 1rem;
    font-size: 22px;
    background-color: $backgroundColor;
    border-bottom: 2px solid $primaryColor;
    padding-bottom: 2rem;
    .navbar-nav {

        li {
            padding-left: 2rem;
        }

        .nav-item {

            a {
                color: $primaryColor !important;
            }

            a:hover {
                color: $hoverColor !important;
                transition: 0.3s;
            }

        
        }

    }
}

.navbar-brand {
    img {
        height: 70px;
    }
}

.nav-link {

    .active {
        color: $hoverColor !important;
    }
}

@media (max-width: $mediumWidth) {
    .navbar-brand {
        img {
            width: 150px;
            height: 60px;
        }
    }
    
  }


